data_path: /home/shares/ds4dh/aiidkit_project/data_new/processed/classic_ml
results_dir: results_classic_ml
run_id: xgboost_optuna_v1

# Columns to exclude from X (features)
ignore_columns:
  - "patientkey"
  - "patientid"
  - "obs_end_days"
  - "fup"
  - "split"
  - "label_*"

# model:
#   type: "xgboost" # or "logistic_regression", "random_forest"
#   params:
#     n_estimators: 100
#     learning_rate: 0.1
#     max_depth: 5
#     eval_metric: "logloss"
#     n_jobs: -1
model:
  type: "xgboost"  # "xgboost", "random_forest", "logistic_regression"
  n_optuna_trials: 25
  optuna_params:
    learning_rate: ["float", 0.01, 0.3]  # log-uniform suggestion
    n_estimators: ["int", 50, 300]
    max_depth: ["int", 3, 10]
    subsample: ["float", 0.5, 1.0]
    colsample_bytree: ["float", 0.5, 1.0]
    feature_fraction: ["int", 10, 100]  # for feature selector
    n_jobs: -1  # fixed params can be passed directly as values if needed
    eval_metric: "logloss"

# Same structure as in configs/discriminative_training.yaml
prediction_tasks:
  infection_bacteria:
    horizons: [30, 60, 90]
    fups: [0, 30, 60, 90, 180, 365]